<div class="banner">
  <div class="container">
    <h1>Air Bnbike brings <strong>mobility</strong> and <strong>fun!</strong></h1>
    <p>Rent bikes from locals and explore anywhere</p>
        <%= link_to 'Explore nearby bikes', bikes_path, class: 'btn btn-flat' %>
  </div>
</div>