<div class="banner">
  <div class="container">
    <h1>Air Bnbike brings <strong>mobility</strong> and <strong>fun</strong></h1>
    <p>Rent bikes from locals and explore anywhere</p>
    <a class="btn btn-flat" href="#">Explore nearby bikes</a>
  </div>
</div>