<%= link_to bike_path(bike), class: "card-link" do %>
  <div class="card-trip">
    <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill%>
    <div class="card-trip-infos">
      <div>
        <h3><%= bike.title %></h3>
        <h4><%= bike.address %></h4>
      </div>
    </div>
  </div>
<% end %>