<div class="card-product">
  <img src="https://res.cloudinary.com/dmlp4ttuf/image/upload/v1607046643/airbnbike/bikesphotos/nikolay-kovalenko-colin-viessmann-5uE95aJ9OQ0-unsplash_s58j0y.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>