<footer class="footer mt-auto py-3">
  <hr>
  <div class="container d-flex justify-content-between">
    <span class="text-muted">© 2020 Air Bnbike, Inc. All rights reserved </span>
    <span class="text-muted">Made with <i class="fas fa-heart"></i> at Le Wagon</span>
  </div>
</footer>