<%= render 'shared/banner' %>
<div class="container">
  <div class="row justify-content-center mt-4 mb-4">
    <h2>Check it out</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mt-1">
    <% @bikes.first(6).each do |bike| %>
      <div class="col mb-1" style="padding-right:2px !important; padding-left:2px !important;">
          <%= render 'shared/bikes_card', bike: bike %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center mt-4 mb-4">
    <h2>Near you</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <%= render 'shared/mapbox' %>
    </div>
  </div>
</div>