<div class="row justify-content-center">
  <div class="col-12 col-sm-10">
    <div class="form-login mt-0">
      <h1>Rent your bike</h1>
      <%= render 'bikes/shared/form', bike: @bike %>
  </div>
</div>
