<div class="card-body bg-white">
  <form>
  <h3>Rent this bike!</h3>
    <div class="form-group">
      <div class="input-group mb-2 border-rounded">
        <div class="input-group-prepend">
          <div class="input-group-text">From
          </div>
        </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="29/11/2020">
      </div>
      <div class="form-group mb-2 border-rounded">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">To
            </div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="29/11/2020">
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-lg btn-block">Rent for <i class="fas fa-euro-sign fa-sm"></i><strong class="ml-1"><%= @bike.price %></strong>/day</button>
    </div>
  </form>
</div>